@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cairo:wght@300;400;700&family=IBM+Plex+Mono:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700&family=Nobile:wght@400;500;700&family=Noto+Serif:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&family=Quicksand:wght@400;600&family=Roboto:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Cairo';
    box-sizing: border-box;
}
body {
    background-color: #181818;
}
.app {
    background: transparent;
    border: 1px solid #e8b024;
    width: 90%;
    max-width: 600px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.title {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid #e8b024;
}
.title h2 {
    color: #e8b024;
    letter-spacing: 1px;
}
.app h1 {
    font-size: 25px;
    color:#e8b024;
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.quiz {
    padding: 20px 0;
}
.quiz h2 {
    font-size: 18px;
    color:goldenrod;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn {
    background-color:#00000034;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #444;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px ;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background-color:#e8b024;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: all 0.2s;
}
#next-btn:hover {
    background-color: transparent;
    color: #e8b024;
    border: 1px solid #e8b024;
}
.correct {
    background-color: #7cd3a2;
}
.incorrect {
    background-color: #dc8383;
}